<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>clima</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">clima</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>La Romana</h1>
  <ion-card *ngIf="weatherData">
    <ion-card-header>
      <ion-card-title>{{ weatherData.weather[0].description | titlecase }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Temperature:</strong> {{ weatherData.main.temp }} °C</p>
      <p><strong>Humidity:</strong> {{ weatherData.main.humidity }} %</p>
      <p><strong>Wind Speed:</strong> {{ weatherData.wind.speed }} m/s</p>
    </ion-card-content>
  </ion-card>
</ion-content>
