<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>acerca_de</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">acerca_de</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <img alt="Silhouette of mountains" src="/assets/Elias.jpg" />
    <ion-card-header>
      <ion-card-title>Pablo Elias Basilio de Jesus</ion-card-title>
      <ion-card-subtitle>Numero de Contacto: 849-263-4820</ion-card-subtitle>
      <ion-card-subtitle>Correo Electronico: Pabloeliasbasiliodejesus&#64;gmail.com</ion-card-subtitle>
      <ion-card-subtitle>Linkedin: <a href="https://www.linkedin.com/in/pablo-elias-basilio-de-jesus-b4bbb720a/">https://www.linkedin.com/in/pablo-elias-basilio-de-jesus-b4bbb720a/</a></ion-card-subtitle>
      <ion-card-subtitle>Github: <a href="https://github.com/Eliaspablo2">https://github.com/Eliaspablo2</a></ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>
