ion-item {
    margin-bottom: 10px;
  }
  
  ion-label h2 {
    font-weight: bold;
  }
  
  ion-label p {
    margin: 5px 0;
  }
  
  ion-label a {
    color: var(--ion-color-primary);
    text-decoration: none;
  }
  